.home{
    width: 100%;
    background: rgb(0, 29, 20);
    padding: 2rem 8%;
    color: white;
}


  /* Mobile view */
  @media screen and (max-width: 768px) {
    .home{
        padding: 2rem 4%;
    }
    .home-text{
      max-width: 380px;
    }
  }