.projects{
    background: rgb(0, 29, 20);
    padding: 2rem 8%;
}

@media screen and (max-width: 768px) {
    .projects{
        padding: 2rem 4%;
    }
}


a .child{
    position: absolute;
    transition: .3s ease-out;
}

a:hover .child{
    box-shadow: 0 0 100px 100px green;
    background: green;
    bottom: 5%;
    left: 4%
}